.page {
    background-color: cadetblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloc {
    flex-direction: column;
}
.blocSkills {
    width: 100%;
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill {
    margin: 2px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center
}

.icon {
    background-color: dimgray;
    width: 60px;
    height: 60px;
}