.page{
    height:20vh;
    background-color: darkgreen;
}
.bloc{
    flex-direction: column;
}
.icons{
    display: flex;
    background-color: bisque;
    margin: auto 0;
    border: black 1px solid;
}
.icon{
    width: 40px;
    height: 40px;
    background-color: darkslategray;
}
.icon2{
    width: 40px;
    height: 40px;
    background-color: burlywood;
}