.page{
    background-color: lightblue;
}
.bloc{
    flex-direction: column;
}
.blocProjects{
    width: 100%;
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project{
    margin: 2px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center
}
.icon{
    background-color: dimgray;
}